langchain
langgraph
python-dotenv
langchain-groq
langchain-openai
streamlit
langchain_community
langserve
fastapi
uvicorn
replicate
sse_starlette
pytesseract
pdf2image
fpdf
streamlit
pillow
pytesseract
opencv-python
reportlab


